
.container-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.container-flex .card {
    width: 250px;
    margin-left: 5px;
    margin-right: 5px;
}


.container-flex .card .card-img-top {
    max-width: 100%;
}

.md-card-image {
	max-height: 150px;	
}

#buttons {
    float: right;
    margin-top: auto;
}

#textFilter {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
}

.offeringName {
    color: #48b9c9;
    font-size: 18px;
}

md-card > * {
    flex-shrink: 0;
}

.thumbnail {
    height: 180px;
    position: relative;
    padding: 2px;
}

.label {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    padding: 0.5em .8em .5em;
    background-color: rgb(020, 150, 190);
    color: #fff;
    font-weight: bold;
    margin: 2px 2px;
}

.offering {
    width: 250px;
    float: left;

}
.text-dark-secondary {
    color: rgba(0, 0, 0, 0.54);    
}

.image {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.detailsButton {
    float: left;
}

.buyButton {
    float: right;
}

.panel-heading {
    color: rgba(255,255,255,0.87);
    background-color: #29B6F6;
    border-color: #29B6F6;
}

.buttonsDiv {
    margin-top: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.section {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    justify-content: space-around;
}

.section > .md-card {
    display: inline-flex;
    flex-shrink: 0;
    flex-direction: column;
}

.panel-body {
    padding-bottom: 0px;
}

.description {
    height: 40px;
    overflow: hidden;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 10px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
    cursor: pointer;
}

.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > .active > span {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.paginationDiv {
    text-align: center;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}