
.container-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.container-flex .card {
    width: 250px;
    margin-left: 5px;
    margin-right: 5px;
}


.container-flex .card .card-img-top {
    max-width: 100%;
}

.md-card-image {
	max-height: 150px;	
}

#buttons {
    float: right;
}

#textFilter {
    margin-left: 4px;
    margin-right: 4px;
    float: left;
}

#offeringName {
    color: #48b9c9;
    font-size: 18px;
}

.thumbnail {
    height: 180px;
    position: relative;
    padding: 2px;
}

.priceplan {
    width: 300px;
    float: left;
}

.centerText {
    text-align: center;
}

.label {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    padding: 0.5em .8em .5em;
    background-color: rgb(020, 150, 190);
    color: #fff;
    font-weight: bold;
    margin: 2px 2px;
}

.bold {
    font-size: 24px;
    font-weight: bold;
}

.small {
    color: #777;
    font-size: 20px;
    margin: 0 0 10px;
}

.priceDescription {
    margin: 10px 0 10px;
}

.offering {
    width: 250px;
    float: left;
}
.text-dark-secondary {
    color: rgba(0, 0, 0, 0.54);    
}

.image {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.detailsButton {
    float: left;
}

.section {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    justify-content: space-around;
}

.section > .md-card {
    display: inline-flex;
    flex-shrink: 0;
}

.buyButton {
    float: right;
}

.panel-heading {
    color: rgba(255,255,255,0.87);
    background-color: #29B6F6;
    border-color: #29B6F6;
}

.panel-heading-one.time {
    color: rgba(255,255,255,0.87);
    background-color: #29B6F6;
    border-color: #29B6F6;
}

.panel-heading-recurring {
    color: rgba(255,255,255,0.87);
    background-color: #66BB6A;
    border-color: #66BB6A;
}

.panel-heading-usage {
    color: rgba(255,255,255,0.87);
    background-color: #FFA726;
    border-color: #FFA726;
}

.buttonsDiv {
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.description {
    height: 40px;
    overflow: hidden;
}

dl {
    margin: 10px;
    font-size: medium;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}