<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="markdown-editor" version="0.1.0">

    <details>
        <title>Markdown editor widget</title>
        <homepage>https://github.com/mognom/markdown-editor-widget</homepage>
        <authors>Alejandro Rodríguez</authors>
        <email>alex.rodriguez@conwet.com</email>
        <image>images/markdowneditor.png</image>
        <smartphoneimage></smartphoneimage>
        <description>This widget allows users to edit markdown</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/userguide.md</doc>
        <license>Apache-2.0</license>
        <issuetracker>https://github.com/mognom/markdown-editor-widget/issues</issuetracker>
    </details>

    <requirements>
        <feature name="FullscreenWidget"/>
    </requirements>

    <preferences>
    </preferences>

    <wiring>
        <inputendpoint name="input" type="text" label="markdown input" description="New markdown text" friendcode="text markdown"/>
        <outputendpoint name="output" type="text" label="markdown output" description="The edited markdown text" friendcode="markdown"/>
    </wiring>

    <contents src="index.html" useplatformstyle="true" />
    <rendering height="300px" width="30%"/>

</widget>
