.heading {
    padding: 0px 5px;
}

.workspace {
    display: flex;
    border-bottom: solid 1px rgb(219, 219, 219);
    padding: 5px 5px;
    align-items: center;
}

.workspace:last-child {
    border-bottom: 0px none;
}

.workspace > i {
    margin: 0px 5px;
}

.workspace-details {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.workspace-details > div {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.alert {
    margin: 3px;
}
