<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="bae-details" version="0.1.1">

  <details>
    <title>BAE details</title>
    <homepage>https://github.com/Wirecloud/bae-details-widget</homepage>
    <authors>Alejandro Rodriguez</authors>
    <email>alex.rodriguez@conwet.com</email>
    <image></image>
    <smartphoneimage></smartphoneimage>
    <description>Display details about a BAE offering.</description>
    <longdescription>DESCRIPTION.md</longdescription>
    <changelog>doc/changelog.md</changelog>
    <doc>doc/userguide.md</doc>
    <license>Apache-2.0</license>
    <issuetracker>https://github.com/Wirecloud/bae-details-widget/issues</issuetracker>
  </details>
    <requirements>
    <feature name="ComponentManagement"/>
  </requirements>
  <preferences>
    <preference name="server_url" type="text" label="Server URL" description="URL of the BAE server."/>
  </preferences>
  <wiring>
    <inputendpoint name="offering" type="text" label="Offering" description="" friendcode=""/>
  </wiring>

  <contents src="index.html" useplatformstyle="true"/>
  <rendering height="200" width="200"/>
</widget>
